/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../topics/img/loader.gif) center no-repeat #fff;
  display: none;
}


.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #74AFAD;
}

.left{
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #7E8F7C;
}

.right{
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #3B3738;
}
.up{
  transition: all 1s;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #CBE32D;
}

.down{
  transition: all 1s;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #FFF056;
}
.background{
  width:480px;
  height: 320px;
  background-image: url('../topics/img/fig.gif');

}
.background2{
  background-image: url('../topics/img/giphy.gif');
}

@keyframes bobble {
  0%{
    transform: translate3d(0px,0px,0px);
    animation-timing-function: ease-in;
  }
  20%{
    transform: translate3d(50px,10px,0px);
    animation-timing-function: ease-out;
  }
  40%{
    transform: translate3d(80px,15px,0px);
    animation-timing-function: ease-in;
  }
  60%{
    transform: translate3d(40px,10px,0px);
    animation-timing-function: ease-out;
  }
  80%{
    transform: translate3d(20px,5px,0px);
    animation-timing-function: ease-in;
  }
  100%{
    transform: translate3d(0px,0px,0px);
    animation-timing-function: ease-out;
  }
}

@keyframes pass {
  0%{
    transform: translate3d(-200px,0px,0px);
  }
  80%{
    transform: translate3d(700px,0px,0px);
  }
  81%{
    transform: translate3d(700px,-200px,0px);
  }
  82%{
    transform: translate3d(-200px,-200px,0px);
  }
  83%{
    transform: translate3d(-200px,0px,0px);
  }
  100%{
    transform: translate3d(0px,0px,0px);
  }

}

@keyframes flight {
  0%{
    transform: translate3d( 650px,0px,0px);
    animation-timing-function: ease-in;
  }
  100%{
    transform: translate3d(-1800px,-250px,0px);
    animation-timing-function: ease-out;

  }
}

.cloud{
  display: block;
  position: absolute;
  max-width: 150px;
  animation: bobble 6s infinite;
}
.sun{
  display: block ;
  max-width: 180px;
  animation: pass 8s;
}
.helicopter {
  position: absolute;
  animation: flight 5s;
  display: block;
  top: 100px;
  max-width: 400px;
  animation-fill-mode: forwards;
}
.undone{
  background-color: rgba(	128,0,0, 0.3);
  padding: 5px;
  margin: 2px;
  transform: scale(1);
  transition: all 0.6s;
}

.undone:hover {
background-color: rgba(	129,,0, 0.5);
 transform: scale(1.1);
 cursor: no-drop;
}

.done{
  transform: scale(1);
  background-color: rgba(	0,128,0, 0.3);
  padding: 5px;
  margin: 2px;
  transition: all 0.6s;
}
.done:hover{
    background-color: rgba(	0,128,0, 0.5);
    transform: scale(1.1);
  }

.effect{
  width: 400px;
  height: 400px;
  overflow: hidden;
  border: black solid;
  margin-left: auto;
  margin-right: auto;
}
.effect{
  width: 400px;
  height: 400px;
  overflow: hidden;
  border: black solid;
  margin-left: auto;
  margin-right: auto;
}

.spin{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 255, 0.5);
  margin-left: auto;
  margin-right: auto;
}


@keyframes effect {
    0% {
      transform: translate3d(0,-250px,0);
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    95% {
        transform: scale3d(1.5, 1.5, 1.5) translate3d(-360px, -150px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(2.5, 2.5, 2.5) translate3d(-170px, -100px, 0px);
        opacity: 0;
    }
}


.effectImage {
  display: absolute;
  animation: effect 6s infinite;
}

.toCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 0px;
  background-color: rgba(255, 0, 0, 0.3);
  transition: all .5s ease-out;
  margin-left: auto;
  margin-right: auto;
}
.toCircle:hover {
  border-radius: 50%;
  background-color: rgba(255, 255, 0, 0.5);
}
.formActive input{
	margin-left: 10px;
	margin-right: 10px;
	width: 200px;
	transition: all 1s;
}
.formActive input:focus {
	background-color: rgba(0,255,0,.5);
	color: black;
	transform: scale3d(1.1,1.1,1.1);
}

.font-light{
  font-weight: 100;
}
.list{
  display: block;
  font-weight: 900;
  margin-top: 3px;
}

.noApper {
  height: 0px;
  padding: 0px;
  visibility: hidden;
  opacity: 0;
}

.Apper{
  height: 40px;
  visibility: visible;
  opacity: 1;
  transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.subtopic {
  background-color: rgba(	0,128,0, 0.2);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  margin: 5px;
  border-radius: 3px;
  padding-bottom: 8px;
}
.hid {
  display: none;
}

.subtopic>h2 {
  font-weight: 900;
}
.subtopic button{
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 6px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      transition: all .6s;
}

.subtopic button:hover {
  background-color: #005A31;
}
.grayscale{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.gray{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all .7s ease;
}
.gray:hover{
  cursor: pointer;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.transition {
  width: 150px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.transitionImage{
  transform: translate3d(0,0,0);
  transition: transform 1s cubic-bezier(0,1.66,.83,.76);
}
.transitionImage:hover{
  transform: translate3d(-150px,0,0);
}

.sky {
  position: relative;
  background-color: #A2BFCE;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 4px;
  padding: 10px;
}
#sideMenu{
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
  transform: translate3d(-100vw,0,0);
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@keyframes open {
  0%{
    transform: translate3d(-100vw,0,0);
    animation-timing-function: ease-in-out;
  }
  100%{
    transform: translate3d(0vw,0,0);
    animation-timing-function: ease-in-out;
  }
}

@keyframes close {
  0%{
    transform: translate3d(0vw,0,0);
    animation-timing-function: ease-in-out;
  }
  100%{
    transform: translate3d(-100vw,0,0);
    animation-timing-function: ease-in-out;
  }
}

#sideMenu.show {
  animation: open 1s;
  animation-fill-mode: both;
}
#sideMenu.close{
  animation: close 1s;
  animation-fill-mode: both;
}

.buttonCircle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  max-width: 50px;
}
.buttonCircle:hover{
  transform: scale3d(1.2,1.2,1.2);
}

audio::-webkit-media-controls-panel{
  background-color: green;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline{
  color: white;
}

audio::-webkit-media-controls-timeline-container,audio::-webkit-media-controls-timeline{
  background-color: red;
}

.flipcontainer{
  position: relative;
  width: 200px;
  height: 250px;
  perspective: 800px;
}

.card{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
#hover:hover{
  transform: rotateX(180deg);
}
.card div{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: white;
  font-size: 7em;
  position:absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face1{
  background: red;
}
.face2{
  background-color: blue;
  transform: rotateY(180deg);
}
.card:hover{
  transform: rotateY(180deg);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.none {
   text-decoration: none !important;
   color: black !important;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
