html, body{
  margin: 0;
  padding: 0;
}
body .container-fluid{
  padding: 0;
  margin: 0;
  background-color: #111111;
}
.container-fluid .jumbotron{
  background: url("/img/bg1.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  border-radius: 0px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.container-fluid .jumbotron h1{
  text-align: center;
  padding-top: 5%;
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
}

.container-fluid .jumbotron p{
  display: block;
  text-align: center;
  padding: 1%;
  color: #FFF;
  width: 70%;
  margin: 0 auto;
  text-shadow: 1px 1px 1px #000;
  background-color: rgba(0,0,0,0.2);
}
.container-fluid ul.navbar-nav{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.navbar li.nav-item{
  color: #FFF;
  font-weight: 200;
  font-size: 2em;
  margin: 0 10%;
}
.arrow{
  width: 100px;
  height: auto;
  animation: move 2s infinite;
}
.container{
  height: 100vh;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container section{
  padding-top: 5%;
}
.container section a{
  text-decoration: none;
  color: #FFDC00;
  font-weight: 100;
  font-size: 1.1em;
}
.yellow{
  color: #FFDC00;
  font-weight: 700;
}
.bg{
  background: url("/img/bg1.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.container .navbar-brand{
  color: #FFDC00;
  font-weight: 900;
  font-size: 1.7em;
}
.project{
  width: 100%;
  text-align: center;
  border: 2px solid #FFF;
  padding: 2%;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.3);
  transition: all 1s ease-out;
}
.project:hover{
  transform: scale(1.1,1.1);
}
.project h2{
  color: #FFDC00;
}
ol.breadcrumb{
  background-color: rgba(0,0,0,0);
}
footer p{
  margin: 0;
  padding: 30px;
  color: #FFF;
  text-align: center;
}
@keyframes move{
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
}

@media screen and (min-width: 600px){
  .container-fluid .jumbotron h1{
    font-size: 1em;
  }
}
