/* Selectors */

 h1 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 5em;
	font-weight: 400;
	margin: 0px;
	text-shadow: .5px .5px #000;
}

h2{
	font-family: 'Fredericka the Great', cursive;
	font-size: 2.5em;
	font-weight: 300;
	text-shadow: .5px .5px #000;
	margin: 0px;
}

input::placeholder{
	color: rgba(0,0,0,.3);
}

input:focus{
	background-color: #cc574c;
	color: #FFF;
	transform: scale(1.1,1.1);
}

p {
	font-family: 'Quicksand', sans-serif;
	font-size: 1em;
	padding: 10px;
	margin: 0px;
	font-weight: 100;
}

.center{
	text-align: center;
}

body, html, .fullPage {
	width: 100%;
    height: 100%;
    margin: 0;
	display: flex;
	position: relative;
}

.button {
	text-align: center;
	margin: 3px;
	width: 40%;
	font-size: 1.2em;
	padding: 4px;
	cursor: pointer; 
	color: #FFF;
	background-color: #cc574c;
	border: 3px solid #c05249;
	border-radius: 3px;
	transition: all .6s;
}

.button:hover{
	color: #000;
	background-color: #f6f4f6;
	border: 3px solid #e7e5e7;
	transform: scale(1.1,1.1);
	border-radius: 5px;
}

.loginForm label, .signUpForm label{
	font-size: 1.2em;
	color: #FFF;
	font-family: 'Quicksand', sans-serif;
	margin-top: 4px;
}

.loginForm input, .signUpForm input {
	font-size: 1.1em;
	width: 100%;
	max-height: 20%;
	margin-top: 5px;
	border: 4px solid #FFF;
	border-radius: 5px;
	padding: 2px;
	margin: 5px;
	transition: all .6s;
}

.signUpForm {
	position: fixed;
	width: 70%;
	height: 12vh;
	background-color: rgba(0,0,0,.2);
	border-radius: 20px;
	box-shadow: 1px 1px 1px #000;
	padding: 15px;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 1s;
	transform: translate3d(0,20vh,0);
}
.open{
	transform: translate3d(0,-2vh,0);
}

.background {
	background: #89c5ce; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #189c5ce, #f2fcfe); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #89c5ce, #f2fcfe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.loginContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-self: center;
	width: 70%;
	height: 65%;
	margin: 0 auto;
	background-color: rgba(0,0,0,.2);
	border-radius: 20px;
	box-shadow: 1px 1px 1px #000;
	overflow: hidden;
}

.fontWhite {
	color: #FFF;
}

.logo{
	width: 15%;
	margin: 10px;
	transition: transform .7s;
}

.row{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.column{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.separateH {
	margin: 10px;
	width: 100px;
	height: 2px;
	background-color: rgba(255,255,255,.5);
}

.separateV {
	margin: 20px;
	width: 2px;
	height: 100px;
	background-color: rgba(255,255,255,.5);
}

.loginForm { 
	animation: show 1s;
	animation-delay: 3s;
	animation-fill-mode: both
}


.title {
	width: 60%;
	display: flex;
	animation: title 2.5s;
	transition: transform .7s;
}

.title:hover {
	transform: scale(1.2,1.2);
}

.opacity{
	opacity: .7;
}

.case{
	width: 25vw;
	transform: rotate(-10deg);
	animation: show 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 0;
}
.ilustration {
	position: absolute;
	top: 47vh;
	animation: fade .6s;
	animation-delay: 5.1s;
	animation-fill-mode: both;
	
}
.pill1, .pill2, .pill3 {
	animation: fall 1s;
	position: absolute;
	width: 5vw;
	z-index: 1;
	animation-fill-mode: both;
}
.pill1{
	animation-delay: 3.5s;
}
.pill2{
	animation-delay: 3.8s;
}
.pill3{
	animation-delay: 4.2s;
}

.appDescription {
	animation: show 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
}

.formContainer{
	position: relative;
}

/*Animation keyframes*/

@keyframes fall {
	0%{
		transform: translate3d(.1vw,-5vh,0px);
		opacity: 0;
	}
	100%{
		transform: translate3d(.1vw,15vh,0px);
		opacity: 1;
	}
}
@keyframes title {
	0%{
		transform: translate3d(0px,-50vh,0px) scale(1.2,1.2);
	}
	50%{
		transform: translate3d(0px,25vh,0px) scale(1.2,1.2);
	}
	100%{
		transform: translate3d(0px,0px,0px) scale(1,1);
	}
}

@keyframes show {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes fade {
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@media (max-width: 900px) {
	h1{
		font-size: 2em;
	}
	.loginContainer {
		width: 85%;
	}
	h2{
		font-size: 1.2em;
	}
	.loginForm label, .signUpForm label {
		font-size: .8em;
	}
	.loginForm input, .signUpForm input {
		font-size: 1em;
		width: 90%;
	}
	

}


/*
@media (max-width: 1575px) {
	.case, .ilustration, .pill1, .pill2, .pill3{

	.loginConta		display: none;
	}iner{
		width: 70%;
		animation: none;
	}
	.form{
		animation-delay: 3s;
		width: 95%;
	}
	h1{
		font-size: 8vw;
	}
	h2{
		font-size: 3vw;
	}
	p{
		font-size: 1.5vw;
	}
	.loginForm label, .signUpForm label {
		font-size: 2vw;
	}
	.loginForm input, .signUpForm input {
		font-size: 1.5vw;
		width: 90%;
	}
}

@media (max-width: 900px) {
.loginContainer{
		width: 70%;
	}
	p{
		font-size: 1.5vw;
	}
	h2{
		font-size: 5vw;
	}
	.separateH, .separateV{
		display: none;
	}
	.loginForm label, .signUpForm label {
		font-size: 4vw;
	}
	.loginForm input, .signUpForm input {
		font-size: 2.5vw;
		width: 90%;
	}
}